@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.Header {
    color: #fff;
}

.Header h1 {
    margin: 0;
    
    font-family: 'Lobster', cursive;
    font-size: 8rem;
}

.Header h3 {
    margin: 0;

    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
}

@media (max-width: 824px) {
    .Header h1 {
        font-size: 5rem;
    }

    .Header h3 {
        font-size: 1.8rem;
    }
}

@media (max-width: 506px) {
    .Header h1 {
        margin-top: 28px;
        font-size: 3rem;
    }

    .Header h3 {
        font-size: 1.2rem;
    }
}